<%= form_with(model: reportjob, local: true) do |form| %>
  <% if reportjob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reportjob.errors.count, "error") %> prohibited this reportjob from being saved:</h2>

      <ul>
      <% reportjob.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :状態 %>
    <%= form.number_field :status, id: :reportjob_status %>
  </div>

  <div class="field">
    <%= form.label :受験日 %>
    <%= form.date_select :day, id: :reportjob_day %>
  </div>

  <div class="field">
    <%= form.label :職種 %>
    <%= form.select :field_id, Field.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :事業所 %>
    <%= form.text_field :zigyousyo, id: :reportjob_zigyousyo %>
  </div>

  <div class="field">
    <%= form.label :斡旋方法 %>
    <%= form.select :mediation_id, Mediation.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :所在地 %>
    <%= form.text_field :syozaiti, id: :reportjob_syozaiti %>
  </div>
  

  <div class="field">
    <%= form.label :試験場 %>
    <%= form.text_field :shikennzyou, id: :reportjob_shikennzyou %>
  </div>

  <div class="field">
    <%= form.label :受験者数 %>
    <%= form.number_field :zyukennsyasuu, id: :reportjob_zyukennsyasuu %>
  </div>

  <div class="field">
    <%= form.label :筆記 %>
    <%= form.check_box :hikki, id: :reportjob_hikki %>
  </div>
  
  <div class="field">
    <%= form.label :筆記・時間 %>
    <%= form.text_field :zikan_hikki, id: :reportjob_zikan_hikki %>
  </div>

  <div class="field">
    <%= form.label :適性 %>
    <%= form.check_box :hiikki, id: :reportjob_hikki %>
  </div>

  <div class="field">
  <%= form.label :適性・時間 %>
  <%= form.number_field :zikan_tekisei, id: :reportjob_zikan_tekisei %>
</div>

  <div class="field">
    <%= form.label :面接 %>
    <%= form.check_box :mensetsu, id: :reportjob_mensetsu %>
  </div>

  <div class="field">
    <%= form.label :面接・時間 %>
    <%= form.number_field :zikan_mensetu, id: :reportjob_zikan_mensetu %>
  </div>

  <div class="field">
    <%= form.label :一般常識 %>
    <%= form.check_box :ippann, id: :reportjob_ippann %>
  </div>


  <div class="field">
    <%= form.label :一般常識・時間 %>
    <%= form.number_field :zikan_ippann, id: :reportjob_zikan_ippann %>
  </div>


  <div class="field">
    <%= form.label :試験科目 %>
    <%= form.select :subject_id, Subject.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :国語・時間 %>
    <%= form.number_field :zikan_japanese, id: :reportjob_zikan_japanese %>
  </div>

  <div class="field">
    <%= form.label :数学・時間 %>
    <%= form.number_field :zikan_math, id: :reportjob_zikan_math %>
  </div>

  <div class="field">
    <%= form.label :社会・時間 %>
    <%= form.number_field :zikan_social, id: :reportjob_zikan_social %>
  </div>

  <div class="field">
    <%= form.label :英語・時間 %>
    <%= form.number_field :zikan_english, id: :reportjob_zikan_english %>
  </div>    

  <div class="field">
    <%= form.label :面接方法 %>
    <%= form.select :interview_id, Interview.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :面接委員・人数 %>
    <%= form.number_field :iin, id: :reportjob_iin %>
  </div>

  <div class="field">
    <%= form.label :面接試験・時間 %>
    <%= form.number_field :zikan_mensetsu, id: :reportjob_zikan_mensetsu %>
  </div>

  <div class="field">
    <%= form.label :質問内容 %>
    <%= form.text_area :shitsumon, id: :reportjob_shitsumon %>
  </div>

  <div class="field">
    <%= form.label :面接その他 %>
    <%= form.text_area :mensetsusonota, id: :reportjob_mensetsusonota %>
  </div>

  <div class="field">
    <%= form.label :作文 %>
    <%= form.text_field :sakubun, id: :reportjob_sakubun %>
  </div>

  <div class="field">
    <%= form.label :文章量 %>
    <%= form.text_field :bunnsyouryou, id: :reportjob_bunnsyouryou %>
  </div>

  <div class="field">
  <%= form.label :作文・時間 %>
  <%= form.number_field :zikan_ithisa, id: :reportjob_zikan_ithisa %>
</div>

  <div class="field">
    <%= form.label :その他 %>
    <%= form.text_area :other, id: :reportjob_other %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
