<html>
<p id="notice"><%= notice %></p>

<head>
<meta charset="UTF-8">
<style>
  th.example { text-align: center; }
  .sampleTable {
      border-collapse: collapse;
      table-layout: fixed;
  }
  

th.example2 { text-align: right; }
.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;
}

.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}

h3 {
  font-size: 280%;
}

th {
  font-size: 150%;
}

  .box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

</style>
</head>

<body>
<h1>就職試験受験報告書</h1>

<table>
  <tr>
   <th class="example2" style="width:50px">職種</th>
   <td>
     <%= form_tag('/serveys_field_search') do %>
     <%= select_tag 'search[field]', options_for_select(Field.all.map {|r| [r.name,r.id] },   {:selected => session[:search_field]}), {include_blank: true, style: "height:43px;"} %><%= submit_tag '検索' %>
     <% end %> 
  </td>

  <th class="example2" style="width:200px">事業所(完全一致)</th>
  <td>
   <%= form_tag('/serveys_zigyousyo_search') do %>
   <%= text_field_tag 'search[zigyousyo]' , session[:search_zigyousyo], :placeholder => "（例）セラヤ株式会社" %><%= submit_tag '検索' %>
   <% end %> 
  </td>
  </tr>
</table>

<h2>就職試験報告書<h5>（作成履歴・検索結果）</h5></h2>
<table>
  <thead>
    <tr>
     <th class="example" style="width:90px">受験日</th>
     <th class="example" style="width:150px">職種</th>
     <th class="example" style="width:150px">事業所名</th>
     <th class="example" style="width:150px">斡旋方法</th>
     <th class="example" style="width:150px" 所在地</th>
     <th class="example" style="width:150px">試験会場</th>
     <th class="example" style="width:150px">面接方法</th>
     <th colspan="3"></th> 
    </tr>
  </thead>
  </table>

  <% @reportjobs.each do |reportjob| %>
    <div class="box2">
      <table>
       <tboby>
         <tr>
           <td colspan=10 align="right"><%= link_to '>', reportjob, {class: "btn-flat-logo"} %></td>
         </tr>
         <tr align="center">
           <td><%= reportjob.day %></td>
           <td><%= reportjob.field.name %></td>
           <td><%= reportjob.zigyousyo %></td>
           <td><%= reportjob.mediation.name %></td>
           <td><%= reportjob.syozaiti %></td>
           <td><%= reportjob.shikennzyou %></td>
           <td><%= reportjob.interview.name %></td>
           <!--
           <td style="width:30px"><%= link_to '詳細', reportjob %></td>
            -->
           <td style="width:30px"><%= link_to '編集', edit_reportjob_path(reportjob) %></td>
           <td style="width:30px"><%= link_to '削除', reportjob, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
         </tr> 
       </tbody>
      </table>
    </div>         
  <% end %>

<br>

<%= link_to '新規作成', new_reportjob_path %>

<h2>閲覧履歴</h2>
<table>
  <thead>
    <tr>
      <th class="example" style="width:90px">閲覧日</th>
      <th class="example" style="width:90px">受験日</th>
      <th class="example" style="width:150px">職種</th>
      <th class="example" style="width:150px">事業所名</th>
      <th class="example" style="width:150px">斡旋方法</th>
      <th class="example" style="width:150px">所在地</th>
      <th class="example" style="width:150px">試験会場</th>
      <th class="example" style="width:150px">面接方法</th>
      <th> <colspan="3"></th>
    </tr>
  </thead>
  </table>

    <% @joblogs.first(10).each do |joblog| %>
      <div class="box2">
      <table>
      <tbody>    
      <tr>
      <td colspan=10 align="right"><%= link_to '>', joblog, {class: "btn-flat-logo"} %></td>
      </tr>
      <tr align="center">

      <td><%= joblog.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= joblog.reportjob.day %></td>
        <td><%= joblog.reportjob.field.name %></td>
        <td><%= joblog.reportjob.zigyousyo %></td>
        <td><%= joblog.reportjob.mediation.name %></td>
        <td><%= joblog.reportjob.syozaiti %></td>
        <td><%= joblog.reportjob.shikennzyou %></td>
        <td><%= joblog.reportjob.interview.name %></td>

        <td style="width:30px"><%= link_to '詳細', joblog %></td>
       <!--
        <td><%= link_to '編集', edit_reportjob_path(joblog) %></td>
        <td><%= link_to '削除', joblog, method: :delete, data: { confirm: '本当に削除しますか？' } %></td> 
        -->
      </tr>
  </tbody>
</table>
</div>
<% end %>

<br>
<br>
<br>
<br>
</html>