<html>
  <head>
    <style type="text/css">
      div.blocka {
                  float: left ;
                  width: 53% ;
                 }
      th.example { text-align: center; }  
      .sampleTable {
                    border-collapse: collapse;
                    table-layout: fixed; 
                   }
     </style>
  </head>
<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Status:</strong>
  <%= @reportjob.status %>
</p>
-->

<p>
<strong>状況:</strong>
<%if @reportjob.check == false %>
  <%= "確認中" %>
<% else %>
  <%= "確認済" %>
<% end %>

</p>
<p>
  <strong>ユーザー:</strong>
  <%= @reportjob.user.students[0].name %>
</p>

<p>
  <strong>受験日:</strong>
  <%= @reportjob.day %>
</p>

<p>
  <strong>職種:</strong>
  <%= @reportjob.field.name %>
</p>

<p>
  <strong>事業所名:</strong>
  <%= @reportjob.zigyousyo %>
</p>

<p>
  <strong>斡旋方法:</strong>
  <%= @reportjob.mediation.name %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @reportjob.syozaiti %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @reportjob.shikennzyou %>
</p>

<p>
  <strong>受験者数:</strong>
  <%= @reportjob.zyukennsyasuu %>
</p>

<p>
  <strong>面接方法:</strong>
  <%= @reportjob.interview %>
</p>

<p>
  <strong>面接委員(人):</strong>
  <%= @reportjob.iin %>
</p>

<p>
  <strong>面接時間:</strong>
  <%= @reportjob.zikan_mensetsu %>
</p>

<p>
  <strong>質問内容:</strong>
  <%= @reportjob.shitsumon %>
</p>

<p>
  <strong>作文・文字数:</strong>
  <%= @reportjob.bunnsyouryou %>
</p>

<p>
  <strong>作文・時間:</strong>
  <%= @reportjob.zikan_ithisa %>
</p>

<p>
  <strong>その他:</strong>
  <%= @reportjob.other %>
</p>

<%= link_to '編集', edit_reportjob_path(@reportjob) %> |
<%= link_to '戻る', reportjobs_path %>
<%if @sensei == true %>
|<%= link_to 'マスター管理画面へ戻る', manage_school_path %>
<% end %>
