<html>
  <head>
    <style type="text/css">
      div.blocka {
                  float: left ;
                  width: 53% ;
                 }
      th.example { text-align: center; }  
      .sampleTable {
                    border-collapse: collapse;
                    table-layout: fixed; 
                   }
     </style>
  </head>
<p id="notice"><%= notice %></p>

<p>
<strong>状況:</strong>
<%if @reportschool.check == false %>
  <%= "確認中" %>
<% else %>
  <%= "確認済" %>
<% end %>

<strong>報告年月日</strong>
<%= @reportschool.created_at.strftime('%Y/%m/%d') %>
</p> 
#<p>
#  <strong>Status:</strong>
#  <%= @reportjob.status %>
#</p>

<div class="blocka" >
<table class="sampleTable" border="1">
  <tr>
    <th class="example" style="width:64px;height:40px" >氏名</th>
    <td colspan=3 style="width:450px">
      <%= @reportjob.user.students[0].name %>
    </td>
  </tr>

 <tr>
  <th class="example" style="width:65px">試験日</th>
  <td style="width:99px">
    <%= @reportjob.day %>
  </td>
 </tr>

  <tr>
    <th class="example">職種</th>
    <td style="width:192px;height:40px">
      <%= @reportjob.field.name %>
    </td>
  </tr>

  <tr>
    <th class="example">事業所名</th>
    <td colspan=3 style="height:40px">
      <%= @reportjob.zigyousyo %>
    </td>
  </tr>

  <tr>
    <th class="example">斡旋方法</th>
    <td style="height:40px">
      <%= reportjob.mediation.name %>
    </td>
  </tr>
  
  <tr>
    <th class="example">所在地</th>
    <td>
      <%= @reportjob.syozaiti %>
    </td>
  </tr>

  <tr>
    <th class="example" style="height:40px">コース</rh>
    <td>
      <%= @reportschool.course %>
    </td>
  </tr>
</table>

  <tr>
    <th class="example" style="width:65px;height:40px">所在地</th>
    <td style="width:286px">
      <%= @reportschool.syozaichi %>
    </td>
   </tr>

  <tr>
    <th class="example" style="height:40px">試験場</th>
    <td>
      <%= @reportschool.shikennzyou %>
    </td>
  </tr>

  <tr>
    <th class="example" style="width:65px;height:40px">感想</th>
    <td style="width:450px">
      <%= simple_format(@reportschool.kanso) %>
    </td>
  </tr>

  <tr>
    <th class="example" style="height:40px">入試形態</th>
    <td>
      <%= @reportschool.exam.name %>
    </td>
  </tr>
</table>

  <h4>Ⅰ.一般入試</h4>

    <tr>
      <th class="example" style="width:72px;height:40px">国語（分）</th>
      <td style="width:28px">
        <%= @reportschool.japanese %>
      </td>

      <th class="example" style="width:72px;height:40px">数学（分）</th>
      <td style="width:28px">
        <%= @reportschool.math %>
      </td>

      <th class="example" style="width:72px;height:40px">社会（分）</th>
      <td style="width:28px">
        <%= @reportschool.social %>
      </td>

      <th class="example" style="width:72px;height:40px">理科（分）</th>
      <td style="width:28px">
        <%= @reportschool.science %>
      </td>

      <th class="example" style="width:72px;height:40px">英語（分）</th>
      <td style="width:28px">
        <%= @reportschool.english %>
      </td>
    </tr>

    <tr>
      <th class="example">問題の内容</th>
      <td colspan=9 style="width:443px;height:300px">
        <%= simple_format(@reportschool.detail) %>
      </td>
    </tr>
</div>

<p>
  <strong>ユーザー:</strong>
  <%= @reportjob.user.students[0].name %>
</p>

<p>
  <strong>受験日:</strong>
  <%= @reportjob.day %>
</p>

<p>
  <strong>職種:</strong>
  <%= @reportjob.field.name %>
</p>

<p>
  <strong>事業所名:</strong>
  <%= @reportjob.zigyousyo %>
</p>

<p>
  <strong>斡旋方法:</strong>
  <%= @reportjob.mediation.name %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @reportjob.syozaiti %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @reportjob.shikennzyou %>
</p>

<p>
  <strong>受験者数:</strong>
  <%= @reportjob.zyukennsyasuu %>
</p>

<p>
  <strong>試験科目:</strong>
  <%= @reportjob.subject_id %>
</p>

<p>
  <strong>面接委員(人):</strong>
  <%= @reportjob.iin %>
</p>

<p>
  <strong>面接時間:</strong>
  <%= @reportjob.zikan_mensetsu %>
</p>

<p>
  <strong>質問内容:</strong>
  <%= @reportjob.shitsumon %>
</p>

<p>
  <strong>文章量:</strong>
  <%= @reportjob.bunnsyouryou %>
</p>

<p>
  <strong>その他:</strong>
  <%= @reportjob.other %>
</p>

<%= link_to '編集', edit_reportjob_path(@reportjob) %> |
<%= link_to '戻る', reportjobs_path %>
