<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @reportjob.status %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @reportjob.user.students[0].name %>
</p>

<p>
  <strong>受験日:</strong>
  <%= @reportjob.day %>
</p>

<p>
  <strong>職種:</strong>
  <%= @reportjob.field.name %>
</p>

<p>
  <strong>事業所名:</strong>
  <%= @reportjob.zigyousyo %>
</p>

<p>
  <strong>斡旋方法:</strong>
  <%= @reportjob.mediation.name %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @reportjob.syozaiti %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @reportjob.shikennzyou %>
</p>

<p>
  <strong>受験者数:</strong>
  <%= @reportjob.zyukennsyasuu %>
</p>

<p>
  <strong>筆記・時間:</strong>
  <%= @reportjob.zikan_ithihi %>
</p>

<p>
  <strong>適性・時間:</strong>
  <%= @reportjob.zikan_nite %>
</p>

<p>
  <strong>試験科目:</strong>
  <%= @reportjob.subject_id %>
</p>

<p>
  <strong>面接委員(人):</strong>
  <%= @reportjob.iin %>
</p>

<p>
  <strong>面接時間:</strong>
  <%= @reportjob.zikan_mensetsu %>
</p>

<p>
  <strong>質問内容:</strong>
  <%= @reportjob.shitsumon %>
</p>

<p>
  <strong>文章量:</strong>
  <%= @reportjob.bunnsyouryou %>
</p>

<p>
  <strong>その他:</strong>
  <%= @reportjob.other %>
</p>

<%= link_to '編集', edit_reportjob_path(@reportjob) %> |
<%= link_to '戻る', reportjobs_path %>
