<p id="notice"><%= notice %></p>

<h1>斡旋方法</h1>

<table>
  <thead>
    <tr>
      <th>斡旋方法</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mediations.each do |mediation| %>
      <tr>
        <td><%= mediation.name %></td>
        <td><%= link_to '詳細', mediation %></td>
        <td><%= link_to '編集', edit_mediation_path(mediation) %></td>
        <td><%= link_to '削除', mediation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_mediation_path %></td>
</table>
