<%= form_with(model: newpaper, local: true) do |form| %>
  <% if newpaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newpaper.errors.count, "error") %> prohibited this newpaper from being saved:</h2>

      <ul>
      <% newpaper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :newpaper_user_id %>
  </div>

  <div class="field">
    <%= form.label :reportschool_id %>
    <%= form.number_field :reportschool_id, id: :newpaper_reportschool_id %>
  </div>

  <div class="field">
    <%= form.label :確認 %>
    <%= form.check_box :check, id: :newpaper_check%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
