<p id="notice"><%= notice %></p>

<h1><面接方法></h1>

<br>

<table class="table table-striped table-bordered">
  <thead bgcolor="lightsteelblue">
    <tr>
      <th>面接方法</th>
    </tr>
  </thead>

  <tbody bgcolor="white">
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.name %></td>
        <td><center><%= link_to '詳細', interview %></center></td>
        <td><center><%= link_to '編集', edit_interview_path(interview) %></center></td>
        <td><center><%= link_to '削除', interview, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_interview_path %></td>
</table>
