<h1>面接練習サポートシステム</h1>
<p>Find me in app/views/mensetu/top.html.erb</p>

<p>あなたの面接予定</p>



<p>面接OKの先生</p>
 <%= form_tag('/reportjobs_zigyousyo_search') do %>
  <%= submit_tag '検索' %>
 <% end %>

 

<p>予約状況</p>
<%= form_tag('/reportjobs_zigyousyo_search') do %>
    <%= submit_tag '検索' %>
   <% end %>

<p>確認中</p>
<%= form_tag('/reportjobs_zigyousyo_search') do %>
    <%= submit_tag '検索' %>
   <% end %>
<br><br>

<p>生徒用掲示板</p>
 <p>・</p>
 <p>・</p>
 <p>・</p>