<p id="notice"><%= notice %></p>

<h1>利用者情報</h1>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= link_to '閲覧', student %></td>
        <td><%= link_to '編集', edit_student_path(student) %></td>
        <td><%= link_to '削除', student, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_student_path %>
