<p id="notice"><%= notice %></p>

<p>
  <strong>氏名:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>ふりがな（名前）:</strong>
  <%= @student.namehurigana %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @student.seinen %>
</p>

<p>
  <strong>番号:</strong>
  <%= @student.no %>
</p>

<p>
  <strong>性別:</strong>
  <%= @student.seibetsu %>
</p>

<p>
  <strong>住所:</strong>
  <%= @student.zyusho %>
</p>

<p>
  <strong>ふりがな（住所）:</strong>
  <%= @student.zyushohurigana %>
</p>

<p>
  <strong>ファイルネーム:</strong>
  <%= @student.filename %>
</p>

<p>
  <strong>資格名称:</strong>
  <%= @student.shikaku %>
</p>

<p>
  <strong>資格取得日:</strong>
  <%= @student.syutokubi %>
</p>

<p>
  <strong>学歴・就歴１:</strong>
  <%= @student.gakureki1 %>
</p>

<p>
  <strong>学歴・就歴２:</strong>
  <%= @student.gakureki2 %>
</p>

<p>
  <strong>学歴・就歴３:</strong>
  <%= @student.gakureki3 %>
</p>

<p>
  <strong>学歴・就歴４:</strong>
  <%= @student.gakureki4 %>
</p>

<p>
  <strong>学歴・就歴５:</strong>
  <%= @student.gakureki5 %>
</p>

<p>
  <strong>学歴・就歴６:</strong>
  <%= @student.gakureki6 %>
</p>

<p>
  <strong>学歴日付１:</strong>
  <%= @student.hiduke1 %>
</p>

<p>
  <strong>学歴日付２:</strong>
  <%= @student.hiduke2 %>
</p>

<p>
  <strong>学歴日付３:</strong>
  <%= @student.hiduke3 %>
</p>

<p>
  <strong>学歴日付４:</strong>
  <%= @student.hiduke4 %>
</p>

<p>
  <strong>学歴日付５:</strong>
  <%= @student.hiduke5 %>
</p>

<p>
  <strong>学歴日付６:</strong>
  <%= @student.hiduke6 %>
</p>

<%= link_to '編集', edit_student_path(@student) %> |
<%= link_to '戻る', students_path %>
