<p id="notice"><%= notice %></p>
<table>
<tr>
<td>
  <strong>氏名:</strong>
  <%= @student.name %>
</td>
</tr>
<tr>
<td>
  <strong>ふりがな（名前）:</strong>
  <%= @student.namehurigana %>
</td>
</tr>
<tr>
<td>
  <strong>生年月日:</strong>
  <%= @student.seinen %>
</td>
</tr>
<tr>
<td>
  <strong>番号:</strong>
  <%= @student.no %>
</td>
</tr>
<tr>
<td>
  <strong>性別:</strong>
  <%= @student.seibetsu %>
</td>
</tr>
<tr>
<td>
  <strong>住所:</strong>
  <%= @student.zyusho %>
</td>
</tr>
<tr>
<td>
  <strong>ふりがな（住所）:</strong>
  <%= @student.zyushohurigana %>
</td>
</tr>
<tr>
<td>
  <strong>ファイルネーム:</strong>
  <%= @student.filename %>
</td>
</tr>
<tr>
<td>
  <strong>資格名称:</strong>
  <%= simple_format(@student.shikaku) %>
</td>
</tr>
<tr>
<td>
  <strong>資格取得日:</strong>
  <%= simple_format(@student.syutokubi) %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴１:</strong>
  <%= @student.gakureki1 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴２:</strong>
  <%= @student.gakureki2 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴３:</strong>
  <%= @student.gakureki3 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴４:</strong>
  <%= @student.gakureki4 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴５:</strong>
  <%= @student.gakureki5 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴・就歴６:</strong>
  <%= @student.gakureki6 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴日付１:</strong>
  <%= @student.hiduke1 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴日付２:</strong>
  <%= @student.hiduke2 %>
</p>
</tr>
<tr>
<td>
  <strong>学歴日付３:</strong>
  <%= @student.hiduke3 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴日付４:</strong>
  <%= @student.hiduke4 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴日付５:</strong>
  <%= @student.hiduke5 %>
</td>
</tr>
<tr>
<td>
  <strong>学歴日付６:</strong>
  <%= @student.hiduke6 %>
</td>
</tr>
</table>

<br>

<table>
<tbody>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '編集', edit_student_path(@student) %></td>
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', students_path %></td>
</tr>
</tbody>
</tatble>
