<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Namehurigana:</strong>
  <%= @student.namehurigana %>
</p>

<p>
  <strong>Seinen:</strong>
  <%= @student.seinen %>
</p>

<p>
  <strong>No:</strong>
  <%= @student.no %>
</p>

<p>
  <strong>Seibetsu:</strong>
  <%= @student.seibetsu %>
</p>

<p>
  <strong>Zyusho:</strong>
  <%= @student.zyusho %>
</p>

<p>
  <strong>Zyushohurigana:</strong>
  <%= @student.zyushohurigana %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @student.filename %>
</p>

<p>
  <strong>Shikaku:</strong>
  <%= @student.shikaku %>
</p>

<p>
  <strong>Syutokubi:</strong>
  <%= @student.syutokubi %>
</p>

<p>
  <strong>Gakureki1:</strong>
  <%= @student.gakureki1 %>
</p>

<p>
  <strong>Gakureki2:</strong>
  <%= @student.gakureki2 %>
</p>

<p>
  <strong>Gakureki3:</strong>
  <%= @student.gakureki3 %>
</p>

<p>
  <strong>Gakureki4:</strong>
  <%= @student.gakureki4 %>
</p>

<p>
  <strong>Gakureki5:</strong>
  <%= @student.gakureki5 %>
</p>

<p>
  <strong>Gakureki6:</strong>
  <%= @student.gakureki6 %>
</p>

<p>
  <strong>Hiduke1:</strong>
  <%= @student.hiduke1 %>
</p>

<p>
  <strong>Hiduke2:</strong>
  <%= @student.hiduke2 %>
</p>

<p>
  <strong>Hiduke3:</strong>
  <%= @student.hiduke3 %>
</p>

<p>
  <strong>Hiduke4:</strong>
  <%= @student.hiduke4 %>
</p>

<p>
  <strong>Hiduke5:</strong>
  <%= @student.hiduke5 %>
</p>

<p>
  <strong>Hiduke6:</strong>
  <%= @student.hiduke6 %>
</p>

<%= link_to '編集', edit_student_path(@student) %> |
<%= link_to '戻る', students_path %>
