<p id="notice"><%= notice %></p>

<p>
  <strong>状況:</strong>
  <%= @mensetu.status %>
</p>

<p>
  <strong>名前:</strong>
  <%= @mensetu.name %>
</p>

<p>
  <strong>開始時間:</strong>
  <%= @mensetu.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<%= link_to '編集', edit_mensetu_path(@mensetu) %> |
<%= link_to '戻る', mensetus_path %>
