<p id="notice"><%= notice %></p>


<p>
  <strong>Status:</strong>
  <%= @mensetu.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mensetu.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @mensetu.start_time %>
</p>

<%= link_to '編集', edit_mensetu_path(@mensetu) %> |
<%= link_to '戻る', mensetus_path %>
