<%= form_with(model: rirekisyo, local: true) do |form| %>
  <% if rirekisyo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rirekisyo.errors.count, "error") %> prohibited this rirekisyo from being saved:</h2>

      <ul>
      <% rirekisyo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title, id: :rirekisyo_title,:size =>50 %>
  </div>

  <div class="field">
    <%= form.label :指定日%>
    <%= form.date_select :hizuke, id: :rirekisyo_hizuke %>
  </div>

  <div class="field">
    <%= form.label :志望理由%>
    <%= form.text_area :reason,  id: :rirekisyo_reason,:cols=> 60,:rows=>15 %>
  </div>

  <div class="field">
    <%= form.label :趣味・特技 %>
    <%= form.text_area :syumi, id: :rirekisyo_syumi,:cols=> 60,:rows=>5%>
  </div>

  <div class="field">
    <%= form.label :校内外の諸活動 %>
    <%= form.text_area :katsudo, id: :rirekisyo_katsudo,:cols=> 60,:rows=>10 %>
  </div>

  <div class="field">
    <%= form.label :備考%>
    <%= form.text_area :biko, id: :rirekisyo_biko,:cols=> 60,:rows=>10 %>
  </div>

  <div class="field">
    <%= form.label :連絡先 %>
    <%= form.text_field :renraku, id: :rirekisyo_renraku,:size =>55 %>
  </div>

  <div class="field">
    <%= form.label :連絡先ふりがな %>
    <%= form.text_field :renhuri, id: :rirekisyo_renhuri,:size =>55 %>
  </div>
   
  <div class="actions">
    <%= form.submit:作成 %>
  </div>

<% end %>
