<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @rirekisyo.title %>
  <strong>ユーザー:</strong>
  <%= @rirekisyo.user.students[0].name %>
</p>

<table border="1" width="500" >
<tr align="right">
<td colspan=3 style="width:400px">
  <%= @rirekisyo.hizuke %>
</td>
<td rowspan =3 style="width:100px">
<% if @rirekisyo.filename.present? %>
<%= image_tag @rirekisyo.filename,:size => "100x110" %>
<% else %>
<%= image_tag "initprofile.png",:size => "100x110" %>
<% end %> 
</td>
</tr>

<tr>
<th><center>ふりがな</center></th>
<td style="width:257px">
<center><%= @rirekisyo.user.students[0].namehurigana %></center>
</td>
<th><center>性別</center></th>
</tr>

<tr>
<th><center>氏名</center></th>
<td>
<center><%= @rirekisyo.user.students[0].name %></center>
</td>
<td style="width:50px">
<center><%= @rirekisyo.user.students[0].seibetsu %></center>
</td>
</tr>
</table>

<table border="1"  width="500">
<tr>
<th><center>生年月日</center></th>
<td style="width:408px">
<center><%= @rirekisyo.user.students[0].seinen %></center>
</td>
</tr>
</table>

<table border="1" width="500">
<tr>
<th><center>ふりがな</center></th>
<td style="width:408px">
<center><%= @rirekisyo.user.students[0].zyushohurigana %></center>
</td>
</tr>

<tr>
<th><center>現住所</center></th>
<td style="width:350px">
<center><%= @rirekisyo.user.students[0].zyusho %></center>
</td>
</tr>
</table>

<table border="1" width="500">
<tr>
<th><center>ふりがな</center></th>
<td style="width:408px">
<center><%= @rirekisyo.renhuri %></center>
</td>
</tr>

<tr>
<th><center>連絡先</center></th>
<td style="width:350px">
<center><%= @rirekisyo.renraku %></center>
</td>
</tr>
</table>

<table border="1" width="500">
<tr>
<th style="width:10px" rowspan="7">学歴就歴</th>
<tr>
<td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke1 %>
</td>
<td>
  <%= @rirekisyo.user.students[0].gakureki1 %>
</td>
</tr>

<tr>
  <td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke2 %>
  </td>
  <td>
  <%= @rirekisyo.user.students[0].gakureki2 %>
  </td>
</tr>

<tr>
  <td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke3 %>
  </td>
  <td>
  <%= @rirekisyo.user.students[0].gakureki3 %>
  </td>
</tr>

<tr>
  <td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke4 %>
  </td>
  <td>
  <%= @rirekisyo.user.students[0].gakureki4 %>
  </td>
</tr>

<tr>
  <td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke5 %>
  </td>
  <td>
  <%= @rirekisyo.user.students[0].gakureki5 %>
  </td>
</tr>

<tr>
  <td style="width:100px">
  <%= @rirekisyo.user.students[0].hiduke6 %>
  </td>
  <td>
  <%= @rirekisyo.user.students[0].gakureki6 %>
  </td>
</tr>
</tr>
</table>

<table border="1" width="500">
<tr>
<th>資格取得日</th>
<td style="width:250px">
  <%= simple_format(@rirekisyo.user.students[0].syutokubi) %>
</td>
<th>資格名称</th>
<td style="width:250px">
  <%= simple_format(@rirekisyo.user.students[0].shikaku) %>
</td>
</tr>
</table>

<table border="1" width="500">
<tr>
<th>趣味特技</th>
<td style="width:250px">
  <%= simple_format(@rirekisyo.syumi) %>
</td>
  <th>校内外の諸活動</th>
  <td style="width:250px">
  <%= simple_format(@rirekisyo.katsudo) %>
</td>
</tr>
</table>

<table border="1" width="500" height="300">
<tr>
<th>志望理由</th>
<td style="width:490px">
  <%= simple_format(@rirekisyo.reason) %>
</td>
</tr>
</table>

<table border="1" width="500" height="50">
<tr>
<th>備考</th>
<td style="width:490px">
  <%= @rirekisyo.biko %>
  <%= simple_format(@rirekisyo.biko) %>
</td>
</tr>
</table>

<%= link_to '編集', edit_rirekisyo_path(@rirekisyo) %> |
<%= link_to '戻る', rirekisyos_path %>