<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rirekisyo.title %>
</p>

<p>
  <strong>Hizuke:</strong>
  <%= @rirekisyo.hizuke %>
</p>

<%= link_to 'Edit', edit_rirekisyo_path(@rirekisyo) %> |
<%= link_to 'Back', rirekisyos_path %>
