<p id="notice"><%= notice %></p>

<h1>学校種</h1>

<table>
  <thead>
    <tr>
      <th>学校種</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= link_to '詳細', type %></td>
        <td><%= link_to '編集', edit_type_path(type) %></td>
        <td><%= link_to '削除', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_type_path %></td>
</table>
