<html>
<head>
<style>
th.example { text-align: center; }
.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;
}

.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}

h3 {
  font-size: 280%;
}

th {
  font-size: 150%;
}

  .box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

</style>
<head>

<h1>マスター管理</h1>
<!--
<p>Find me in app/views/manage/school.html.erb</p>
-->
<details>

<summary>就職試験受験報告書未読の報告書</summary>
<table>
  <thead>
  <tr>
  <th class="example" style="width:250px">生徒</th>
  <th class="example" style="width:250px">受験日</th>
  <th class="example" style="width:250px">事業所名</th>
  <th class="example" style="width:250px">所在地</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>

  <% if @reportjobs.present?%>
    <% @reportjobs.each do |reportjob| %>
    <% if reportjob.check == false %>
    <div class="box2">
    <table>
    <tboby>
    <tr>
    <td colspan=8 align="right"><%= link_to '>', reportjob, {class: "btn-flat-logo"} %></td>
    </tr>
    <tr align="center">
    <td style="width:250px"><%= reportjob.user.students[0].name %></td>
    <td style="width:250px"><%= reportjob.day %></td>
    <td style="width:250px"><%= reportjob.zigyousyo %></td>
    <td style="width:250px"><%= reportjob.syozaiti %></td>
    <td align="right" style="width:30px"><%= link_to '編集', edit_reportjob_path(reportjob) %></td>
    </tr>
    <tr>
    <td  colspan=8 align="right" style="width:30px"><%= link_to '削除', reportjob, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
    </tr>
    </tbody>
      </table>
      </div>         
    <% end %>
    <% end %>
  <% end %>  
</details>

<details>

<summary>就職試験受験報告書削除</summary>
<%= form_tag('/manage_school_survey_year') do %>
  <p>
  年度検索
  <br>
    <%= number_field_tag 'survey[year]' , session[:survey_year] %>
    <%= submit_tag '検索' %>
  </p>
<% end %> 

<%= form_tag('/manage_school_lotdestory') do %>
  <input type="submit" name="nenndo" value="一括削除" onclick="var checked = confirm('本当に削除しますか？'); if (checked == true) {return true;} else {return false;}">
  <%= hidden_field_tag 'survey[year]' , session[:survey_year] %>
<% end %> 

<table>
  <thead>
  <tr>
  <th class="example" style="width:250px">生徒</th>
  <th class="example" style="width:250px">受験日</th>
  <th class="example" style="width:250px">事業所名</th>
  <th class="example" style="width:250px">所在地</th>
  <th colspan="3"></th>
    </tr>
  </thead>
  </table>

  <tbody>
  <% if @reportjobs.present?%>
    <% @reportjobs.each do |reportjob| %>
      <div class="box2">
      <table>
      <tboby>
      <tr>
      <td colspan=8 align="right"><%= link_to '>', reportjob, {class: "btn-flat-logo"} %></td>
      </tr>
      <tr align="center">
      <td style="width:250px"><%= reportjob.user.students[0].name %></td>
      <td style="width:250px"><%= reportjob.day %></td>
      <td style="width:250px"><%= reportjob.zigyousyo %></td>
      <td style="width:250px"><%= reportjob.syozaiti %></td>
      <td align="right" style="width:30px"><%= link_to '編集', edit_reportjob_path(reportjob) %></td>
      </tr>
      <tr>
      <td  colspan=8 align="right" style="width:30px"><%= link_to '削除', reportjob, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>

      </tbody>
      </table>
      </div>         

    <% end %>
    <% end %>  
</details>

<details>

<summary>入学試験受験報告書未読の報告書</summary>
<table>
  <thead>
    <tr>
    <th class="example" style="width:150px">生徒</th>
    <th class="example" style="width:200px">学校名</th>
    <th class="example" style="width:200px">学部</th>
    <th class="example" style="width:200px">学科</th>
    <th class="example" style="width:200px">コース</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  </table>

  <% if @reportschools.present? %>
    <% @reportschools.each do |reportschool| %>
      <% if reportschool.check == false %>
      <div class="box2">
      <table>
      <tbody>
      <tr>
      <td colspan=8 align="right"><%= link_to '>', reportschool, {class: "btn-flat-logo"} %></td>
      </tr>

      <tr align="center">
      <td style="width:150px"><%= reportschool.user.students[0].name %></td>
      <td style="width:200px"><%= reportschool.gakkou %></td>
      <td style="width:200px"><%= reportschool.gakubu %></td>
      <td style="width:200px"><%= reportschool.gakka %></td>
      <td style="width:200px"><%= reportschool.course %></td>
      <td><%= link_to '編集',  edit_reportschool_path(reportschool) %></td>
    </tr>
      <!--
      <td style="width:30px"><%= link_to '詳細', reportschool %></td>
      -->
      <tr>
      <td   colspan=8 align="right" style="width:30px"><%= link_to '削除', reportschool, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
  </tbody>
      </table>
     </div>         
 <% end %>
 <% end %>
    <% end %>
</details>

<details>
<summary>入学試験受験報告書削除</summary>

  <%= form_tag('/manage_school_search_year') do %>
    <p>
    年度検索
    <br>
      <%= number_field_tag 'search[year]' , session[:search_year] %>
      <%= submit_tag '検索' %>
    </p>
  <% end %> 

  <%= form_tag('/manage_school_manydestory') do %>
    <input type="submit" name="nendo" value="一括削除" onclick="var checked = confirm('本当に削除しますか？'); if (checked == true) {return true;} else {return false;}">
    <%= hidden_field_tag 'search[year]' , session[:search_year] %>
  <% end %> 

<table>
  <thead>
    <tr>
      <th class="example" style="width:150px">生徒</th>
      <th class="example" style="width:200px">学校名</th>
      <th class="example" style="width:200px">学部</th>
      <th class="example" style="width:200px">学科</th>
      <th class="example" style="width:200px">コース</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
    <% if @reportschools.present? %>
      <% @reportschools.each do |reportschool| %>
        <div class="box2">
        <table>
        <tbody>  
        <tr>
        <td colspan=8 align="right"><%= link_to '>', reportschool, {class: "btn-flat-logo"} %></td>
        </tr>
  
        <tr align="center">
          <td style="width:150px"><%= reportschool.user.students[0].name %></td>
          <td style="width:200px"><%= reportschool.gakkou %></td>
          <td style="width:200px"><%= reportschool.gakubu %></td>
          <td style="width:200px"><%= reportschool.gakka %></td>
          <td style="width:200px"><%= reportschool.course %></td>
          <td><%= link_to '編集',  edit_reportschool_path(reportschool) %></td>
        </tr>
          <!--
          <td style="width:30px"><%= link_to '詳細', reportschool %></td>
          -->
          <tr>
          <td   colspan=8 align="right" style="width:30px"><%= link_to '削除', reportschool, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>
        </tbody>
        </table>
       </div>         
      <% end %>
    <% end %>
</details>
<br>
<br>
<br>
<br>
</html>