<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<a>　　　　　　　　　　</a>
<a href="http://localhost:3000/rirekisyos" class="btn-flat-bottom-border1">
  <h1>　履歴書　</h1>
</a>
<a>　　　　　　</a>
<a href="http://localhost:3000/rirekisyos" class="btn-flat-bottom-border2">
  <h1>受験報告書</h1>
</a>
<h1></h1>
<a>　　　　　　　　　　</a>
<a href="http://localhost:3000/rirekisyos" class="btn-flat-bottom-border3">
  <h1>    　面接　　     </h1>
</a>
<a>　　　　　　</a>
<a href="http://localhost:3000/rirekisyos" class="btn-flat-bottom-border4">
  <h1>　メモ　　   </h1>
</a>


=======
<h1><p><%= link_to '履歴書',rirekisyos_path %>
 <%= link_to '受験報告書',reportmenu_menu_path %></p></h1>
<h1><p>           <a href = ''><%= link_to '面接',mensetus_path %></a>
<%= link_to 'メモ',memos_path %></a></p></h1>
>>>>>>> c32bce6af6b5e90a3a47ca3cb7c09614db77bb09
    <%if @sensei == false %>
     
    <% else %>
     <br></br>
     <h3>届いたメール</h3>
      <table border="1" class="table table-striped">
      <tr>
       <th>報告書ID</th>
       <th>送信者</th>
       <th>タイトル</th>
       <th>登録日時</th>
      </tr>
    
      <% @resumetrancerecs.each do |resumetrancerec| %>
      <tr>
      <td><%= resumetrancerec.rirekisyo_id %></td>
      <td><%= resumetrancerec.user.students[0].name %></td>
      <% if resumetrancerec.rirekisyo.nil? %>
      <td>履歴書が削除されています</td>
      <% else %>
      <td><%= link_to resumetrancerec.rirekisyo.title,home_sensei_path(id: resumetrancerec.rirekisyo_id) %></td>
      <% end %>
      <td><%= resumetrancerec.created_at %></td>
      </tr>
     <% end %>
    
    <% end %>


</table>