<p id="notice"><%= notice %></p>
<div class="box8">
<div class="box3">
<a href="http://localhost:3000/rirekisyos" class="btn-flat-bottom-border1">
  <h1>　履歴書　</h1>
</a>
</div>
<div class="box4">
<a href="http://localhost:3000/reportmenu/menu" class="btn-flat-bottom-border2">
  <h1>受験報告書</h1>
</a>
</div>
<div class="box5">
<a href="http://localhost:3000/mensetus" class="btn-flat-bottom-border3">
  <h1>　面接　</h1>
</a>
</div>
<div class="box6">
<a href="http://localhost:3000/memos" class="btn-flat-bottom-border4">
  <h1>　メモ　</h1>
</a>
</div>
</div>

    <%if @sensei == false %>
     
    <% else %>
     <h2>届いたメール</h2>
      <table border="1" class="table table-striped">
      <tr>
       <th>報告書ID</th>
       <th>送信者</th>
       <th>タイトル</th>
       <th>送信日時</th>
      </tr>
    
      <% @resumetrancerecs.each do |resumetrancerec| %>
      <tr>
      <td><%= resumetrancerec.rirekisyo_id %></td>
      <td><%= resumetrancerec.user.students[0].name %></td>
      <% if resumetrancerec.rirekisyo.nil? %>
      <td>履歴書が削除されています</td>
      <% else %>
      <td><%= link_to resumetrancerec.rirekisyo.title,home_sensei_path(id: resumetrancerec.rirekisyo_id) %></td>
      <% end %>
      <td><%= resumetrancerec.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
     <% end %>
    
    <% end %>


</table>