<h1><p><%= link_to '履歴書',rirekisyos_path %>
 <%= link_to '受験報告書',reportmenu_menu_path %></p></h1>

<p>           <a href = ''><%= link_to '面接',mensetus_path %></a>
<%= link_to 'メモ',memos_path %></p></h1>
    <%if @sensei == false %>
     
    <% else %>
     <h3>届いたメール</h3>
      <table border="1">
      <tr>
       <th>報告書ID</th>
       <th>名前</th>
       <th>タイトル</th>
       <th>登録日時</th>
      </tr>
    
      <% @resumetrancerecs.each do |resumetrancerec| %>
      <tr>
      <td><%= resumetrancerec.rirekisyo_id %></td>
      <td><%= resumetrancerec.user.students[0].name %></td>
      <td><%= link_to resumetrancerec.rirekisyo.title,home_sensei_path(id: resumetrancerec.rirekisyo_id) %></td>
      <td><%= resumetrancerec.created_at %></td>
    
      </tr>
     <% end %>
    
    <% end %>



</table>
