<p id="notice"><%= notice %></p>

<h1>推薦形態</h1>

<table>
  <thead>
    <tr>
      <th>推薦形態</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommendeds.each do |recommended| %>
      <tr>
        <td><%= recommended.name %></td>
        <td><%= link_to '詳細', recommended %></td>
        <td><%= link_to '編集', edit_recommended_path(recommended) %></td>
        <td><%= link_to '削除', recommended, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_recommended_path %>
