<p id="notice"><%= notice %></p>
<p>
  <strong>状況:</strong>
  <%= @rslog.reportschool.status %>
</p>

<p>
  <strong>生徒:</strong>
  <%= @rslog.reportschool.user.students[0].name %>
</p>

<p>
  <strong>学校種:</strong>
  <%= @rslog.reportschool.type.name %>
</p>

<p>
  <strong>分野:</strong>
  <%= @rslog.reportschool.field.name %>
</p>

<p>
  <strong>学校名:</strong>
  <%= @rslog.reportschool.gakkou %>
</p>

<p>
  <strong>学部:</strong>
  <%= @rslog.reportschool.gakubu %>
</p>

<p>
  <strong>学科:</strong>
  <%= @rslog.reportschool.gakka %>
</p>

<p>
  <strong>コース:</strong>
  <%= @rslog.reportschool.course %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @rslog.reportschool.syozaichi %>
</p>

<p>
  <strong>試験場:</strong>
  <%= @rslog.reportschool.shikennzyou %>
</p>

<p>
  <strong>合格発表:</strong>
  <%= @rslog.reportschool.gokaku %>
</p>

<p>
  <strong>試験日:</strong>
  <%= @rslog.reportschool.shikennbi %>
</p>

<p>
  <strong>入試形態:</strong>
  <%= @rslog.reportschool.exam.name %>
</p>

<h2>一般入試</h2>

<p>
  <strong>国語（分）:</strong>
  <%= @rslog.reportschool.japanese %>
</p>

<p>
  <strong>数学（分）:</strong>
  <%= @rslog.reportschool.math %>
</p>

<p>
  <strong>社会（分）:</strong>
  <%= @rslog.reportschool.social %>
</p>

<p>
  <strong>理科（分）:</strong>
  <%= @rslog.reportschool.science %>
</p>

<p>
  <strong>英語（分）:</strong>
  <%= @rslog.reportschool.english %>
</p>

<p>
  <strong>問題の内容:</strong>
  <%= @rslog.reportschool.detail %>
</p>

<h2>推薦入試</h2>

<p>
  <strong>形態:</strong>
  <%= @rslog.reportschool.recommended.name %>
</p>

<p>
  <strong>面接 質問内容:</strong>
  <%= @rslog.reportschool.mennsetsu %>
</p>

<p>
  <strong>小論文（作文）テーマ:</strong>
  <%= @rslog.reportschool.syoronnbunn %>
</p>

<p>
  <strong>試験内容:</strong>
  <%= @rslog.reportschool.shikenn %>
</p>

<p>
  <strong>感想:</strong>
  <%= @rslog.reportschool.kanso %>
</p>

<!--
<%= link_to '編集', edit_rslog_path(@rslog) %> |
-->
<%= link_to '戻る', reportschools_path %>
