<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザーID %>
    <%= form.number_field :user_id, id: :teacher_user_id %>
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name, id: :teacher_name %>
  </div>

  <div class="field">
    <%= form.label :管理者 %>
    <%= form.check_box :admin, id: :teacher_admin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
