<p id="notice"><%= notice %></p>

<h1>先生</h1>

<table>
  <thead>
    <tr>
      <th>ユーザーＩＤ</th>
      <th>名前</th>
      <th>管理者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.user_id %></td>
        <td><%= teacher.name %></td>
        <td><%= teacher.admin %></td>
        <td><%= link_to '閲覧', teacher %></td>
        <td><%= link_to '編集', edit_teacher_path(teacher) %></td>
        <td><%= link_to '削除', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_teacher_path %>
