<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @teacher.user.email %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>管理者:</strong>
  <%= @teacher.admin %>
</p>

<%= link_to '編集', edit_teacher_path(@teacher) %> |
<%= link_to '戻る', teachers_path %>
