<p id="notice"><%= notice %></p>

<h1>転送画面</h1>

<table>
  <thead>
    <tr>
      <th>報告書ＩＤ</th>
      <th>ユーザーＩＤ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumetrancerecs.each do |resumetrancerec| %>
      <tr>
        <td><%= resumetrancerec.rirekisyo_id %></td>
        <td><%= resumetrancerec.user_id %></td>
        <td><%= link_to '詳細', resumetrancerec %></td>
        <td><%= link_to '編集', edit_resumetrancerec_path(resumetrancerec) %></td>
        <td><%= link_to '削除', resumetrancerec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_resumetrancerec_path %>
