<p id="notice"><%= notice %></p>

<p>
  <strong>履歴書ＩＤ:</strong>
  <%= @resumetrancerec.rirekisyo_id %>
</p>

<p>
  <strong>ユーザーＩＤ:</strong>
  <%= @resumetrancerec.user_id %>
</p>

<br>

<table>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '編集', edit_resumetrancerec_path(@resumetrancerec) %>
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', resumetrancerecs_path %>
</tr>
</table>
