<h1><受験報告書></h1>
<!-- <p>Find me in app/views/reportmenu/menu.html.erb</p> -->

<head>
<style>
.btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

.btn-flat-vertical-border:hover {
  background: #668ad8;
  color: #FFF;
}

</style>
</head>
<table>
<h3>~就職試験受験報告書~</h3>
<br>
<tbody>
<tr>
<td>　</td>
<td><pre style="font-size: 15px;"><%= link_to '　見る　', reportjobs_path %></td>
<td>　　<td>
<td><pre style="font-size: 15px;"><%= link_to '　作成　', new_reportjob_path %></td>
</tr>
</tbody>
</table>

<table>
<h3>~進学試験受験報告書~</h3>
<br>
<tbody>
<tr>
<td>　</td>
<td><pre style="font-size: 15px;"><%= link_to '　見る　', reportschools_path %></td>
<td>　　</td>
<td><pre style="font-size: 15px;"><%= link_to '　作成　', new_reportschool_path %></td>
</tr>
</tbody>
</table>

<%if @sensei == true %>
<br>
<br>
<table>
<tr>
<td><pre style="font-size: 15px;"><%= link_to '　マスター管理　', manage_school_path %></td>
</tr>
</table>
<% end %>
