<p id="notice"><%= notice %></p>

<h1><入試形態></h1>

<br>

<table class="table table-striped table-bordered">
  <thead bgcolor="lightsteelblue">
    <tr>
      <th>入試形態</th>
    </tr>
  </thead>

  <tbody bgcolor="white">
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><center><%= link_to '詳細', exam %></center></td>
        <td><center><%= link_to '編集', edit_exam_path(exam) %></center></td>
        <td><center><%= link_to '削除', exam, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_exam_path %></td>
</table>
