<p id="notice"><%= notice %></p>

<h1><分野></h1>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr bgcolor="lightsteelblue">
      <th>分野</th>
    </tr>
  </thead>

  <tbody bgcolor="white">
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><center><%= link_to '詳細', field %></center></td>
        <td><center><%= link_to '編集', edit_field_path(field) %></center></td>
        <td><center><%= link_to '削除', field, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_field_path %></td>
</table>
