<%= form_with(model: memo, local: true) do |form| %>
  <% if memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :memo_user_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :memo_content %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :memo_title %>
  </div>

  <div class="field">
    <%= form.label :important %>
    <%= form.check_box :important, id: :memo_important %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
