<p id="notice"><%= notice %></p>

<h1>メモ</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>更新日</th>
      <th>大事なメモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= memo.updated_at %></td>
        <td><%= memo.important %></td>
        <td><%= link_to '詳細', memo %></td>
        <td><%= link_to '編集', edit_memo_path(memo) %></td>
        <td><%= link_to '削除', memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_memo_path %>
