<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @memo.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memo.content %>
</p>

<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Important:</strong>
  <%= @memo.important %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
