<p id="notice"><%= notice %></p>
<table border="1" width="400">

<br>

<br>

<th bgcolor="lightsteelblue"><center><%= @memo.title %></center></th>
<tr bgcolor="white">
<td height="300"><%= simple_format(@memo.content) %></td>
</tr>
<tr bgcolor="lightsteelblue">
<td><center><strong>大事なメモ:</strong>
<%= @memo.important %></center></td>
</tr>
</table>

<br>
<br>

<table>
<tbody>
<tr>
<td><pre style="font-size: 12px;"><%= link_to '編集', edit_memo_path(@memo) %></td>
<td>　</td>
<td><pre style="font-size: 12px;"><%= link_to '戻る', memos_path %></td>
</tr>
</tbody>
</tatble>