<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー:</strong>
  <%= @memo.user_id %>
</p>

<p>
  <strong>内容:</strong>
  <%= @memo.content %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>大事なメモ:</strong>
  <%= @memo.important %>
</p>

<%= link_to '編集', edit_memo_path(@memo) %> |
<%= link_to '戻る'', memos_path %>
