<p id="notice"><%= notice %></p>

<h1><地方></h1>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>都道府県</th>
      <th>地方</th>
      <th>地域</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.todohuken %></td>
        <td><%= place.localname1 %></td>
        <td><%= place.localname2 %></td>
        <td><center><%= link_to '詳細', place %></center></td>
        <td><center><%= link_to '編集', edit_place_path(place) %></center></td>
        <td><center><%= link_to '削除', place, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
<td><pre style="font-size: 13px;"><%= link_to '新規作成', new_place_path %></td>
</table>
