<p id="notice"><%= notice %></p>

<p>
  <strong>都道府県:</strong>
  <%= @place.todohuken %>
</p>

<p>
  <strong>地方:</strong>
  <%= @place.localname1 %>
</p>

<p>
  <strong>地域:</strong>
  <%= @place.localname2 %>
</p>

<%= link_to '編集', edit_place_path(@place) %> |
<%= link_to '戻る', places_path %>
