<%= form_with(model: reportschool, local: true) do |form| %>
  <% if reportschool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reportschool.errors.count, "error") %> prohibited this reportschool from being saved:</h2>

      <ul>
      <% reportschool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :状況 %>
    <%= form.number_field :status, id: :reportschool_status %>
  </div>

  <div class="field">
    <%= form.label :学校種 %>
    <%= form.select :type_id, Type.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :分野 %>
    <%= form.select :field_id, Field.all.map {|r| [r.name,r.id] } %>
  </div>

  <div class="field">
    <%= form.label :学校名 %>
    <%= form.text_field :gakkou, id: :reportschool_gakkou %>
  </div>

  <div class="field">
    <%= form.label :学部 %>
    <%= form.text_field :gakubu, id: :reportschool_gakubu %>
  </div>

  <div class="field">
    <%= form.label :学科 %>
    <%= form.text_field :gakka, id: :reportschool_gakka %>
  </div>

  <div class="field">
    <%= form.label :コース %>
    <%= form.text_field :course, id: :reportschool_course %>
  </div>

  <div class="field">
    <%= form.label :所在地 %>
    <%= form.text_field :syozaichi, id: :reportschool_syozaichi %>
  </div>

  <div class="field">
    <%= form.label :試験場 %>
    <%= form.text_field :shikennzyou, id: :reportschool_shikennzyou %>
  </div>

  <div class="field">
    <%= form.label :合格発表 %>
    <%= form.date_select :gokaku, id: :reportschool_gokaku %>
  </div>

  <div class="field">
    <%= form.label :試験日 %>
    <%= form.date_select :shikennbi, id: :reportschool_shikennbi %>
  </div>

  <div class="field">
    <%= form.label :入試形態 %>
    <%= form.select :exam_id, Exam.all.map {|r| [r.name,r.id] } %>
  </div>

  <h2>一般入試</h2>

  <div class="field">
    <%= form.label :国語（分） %>
    <%= form.number_field :japanese, id: :reportschool_japanese %>
  </div>

  <div class="field">
    <%= form.label :数学（分） %>
    <%= form.number_field :math, id: :reportschool_math %>
  </div>

  <div class="field">
    <%= form.label :社会（分） %>
    <%= form.number_field :social, id: :reportschool_social %>
  </div>

  <div class="field">
    <%= form.label :理科（分） %>
    <%= form.number_field :science, id: :reportschool_science %>
  </div>

  <div class="field">
    <%= form.label :英語（分） %>
    <%= form.number_field :english, id: :reportschool_english %>
  </div>

  <div class="field">
    <%= form.label :問題の内容 %>
    <%= form.text_area :detail, id: :reportschool_detail %>
  </div>

  <h2>推薦入試</h2>

  <div class="field">
    <%= form.label :形態 %>
    <%= form.select :recommended_id, Recommended.all.map {|r| [r.name,r.id] } %>
    </div>

  <div class="field">
    <%= form.label :面接の質問内容 %>
    <%= form.text_area :mennsetsu, id: :reportschool_mennsetsu %>
  </div>

  <div class="field">
    <%= form.label :小論文（作文）テーマ %>
    <%= form.text_area :syoronnbunn, id: :reportschool_syoronnbunn %>
  </div>

  <div class="field">
    <%= form.label :試験の内容 %>
    <%= form.text_area :shikenn, id: :reportschool_shikenn %>
  </div>

  <div class="field">
    <%= form.label :感想 %>
    <%= form.text_area :kanso, id: :reportschool_kanso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
