<html>
<p id="notice"><%= notice %></p>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" "href=reportschools.scss">
<style>
.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}

.fontsize {


}

  .box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}



th.example { text-align: center; }
.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
}

th.example2 { text-align: right; }
.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;    
    margin: auto;

}
</style>
</head>
<body>
<h1>入学試験受験報告書</h1>


<table>
  <tr>
    <th class="example2" style="width:50px">地方 </th>
    <td>
    <%= form_tag('/searchs_localname1_search') do %>
        <%= select_tag 'search[localname1]' , options_for_select(Place.select(:localname1).distinct.map{|r| [r.localname1,r.localname1]},0), include_blank:true  %>
        <%= submit_tag '検索' %>
    <% end %> 
    </td>
    <th class="example2" style="width:50px">地域 </th>
    <td>
    <%= form_tag('/searchs_localname2_search') do %>
        <%= select_tag 'search[localname2]' , options_for_select(Place.select(:localname2).distinct.map{|r| [r.localname2,r.localname2]},0), include_blank:true %>
        <%= submit_tag '検索' %>
    <% end %> 
    </td>
    <th class="example2" style="width:80px">都道府県 </th>
    <td>
    <%= form_tag('/searchs_place_search') do %>
        <%= select_tag 'search[place]' ,options_for_select(Place.all.map {|r| [r.todohuken,r.todohuken] } , {:selected => session[:search_place]}) , include_blank:true%>
        <%= submit_tag '検索' %>
    <% end %> 
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th class="example2" style="width:50px">学校種</th>
    <td>
        <%= form_tag('/searchs_type_search') do %>
          <%= select_tag 'search[type]' , options_for_select(Type.all.map {|r| [r.name,r.id] } , {:selected => session[:search_type]}) , include_blank:true %>
          <%= submit_tag '検索' %>
        <% end %> 
    </td> 
    
    <th class="example2" style="width:100px">分野別</th>
    <td>
        <%= form_tag('/searchs_field_search') do %>
        <%= select_tag 'search[field]' , options_for_select(Field.all.map {|r| [r.name,r.id] } , {:selected => session[:search_field]}) , include_blank:true%>
        <%= submit_tag '検索' %>
        <% end %> 
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
      <th class="example2" style="width:50px">学校名</th>
      <td>
      <%= form_tag('/searchs_search') do %>
        <%= text_field_tag 'search[gakkou]' , session[:search_gakkou], :placeholder => "（例）島根大学" %>
        <%= submit_tag '検索' %>
    <% end %> 
    </td>

      <th class="example2" style="width:143px">検索絞り込み</th>
      <td>
      <%= form_tag('/searchs_saw_search') do %>
        <%= select_tag 'search[saw]' , options_for_select(Saw.all.map {|r| [r.name,r.id] } , {:selected => session[:search_saw]}) , include_blank:true%>
        <%= submit_tag '検索' %>
    <% end %> 
    </td>
    <th class="example2" style="width:143px">
    <%= submit_tag '検索' %>
    </th>
   </tr>
</table>


<h2>入学試験報告書<h5>（作成履歴）</h5></h2>
<table>
  <thead>
    <tr>
      <th class="example" style="width:90px">学校種</th>
      <th class="example" style="width:150px">分野</th>
      <th class="example" style="width:150px">学校名</th>
      <th class="example" style="width:150px">学部</th>
      <th class="example" style="width:150px">学科</th>
      <th class="example" style="width:150px">コース</th>
      <th colspan="2"></th>
    </tr>
  </thead>
</table>

    <% @reportschools.each do |reportschool| %>
      <div class="box2">
      <table>
        <tbody>      
        <tr>
        <td colspan=8 align="right"><%= link_to '>', reportschool, {class: "btn-flat-logo"} %></td>
        </tr>
        <tr align="center">
        <td style="width:90px"><%= reportschool.type.name %></td>
        <td style="width:150px"><%= reportschool.field.name %></td>
        <td style="width:150px"><%= reportschool.gakkou %></td>
        <td style="width:150px"><%= reportschool.gakubu %></td>
        <td style="width:150px"><%= reportschool.gakka %></td>
        <td style="width:150px"><%= reportschool.course %></td>
        <td><%= link_to '編集', edit_reportschool_path(reportschool) %></td>
        <td><%= link_to '削除', reportschool, method: :delete, data: { confirm: '本当に削除しますか？' } %></td> 
      </tr>
        </tbody>
      </table>
      </div>      
    <% end %>

<br>

<table>
<tbody>
<tr>
<td><pre style="font-size: 20px;"><%= link_to '新規作成', new_reportschool_path %></td>
</tr>
</tbody>
</table>

<h2>閲覧履歴</h2>
<table>
  <thead>
    <tr>
      <th class="example" style="width:90px">閲覧日</th>
      <th class="example" style="width:90px">学校種</th>
      <th class="example" style="width:150px">分野</th>
      <th class="example" style="width:150px">学校名</th>
      <th class="example" style="width:150px">学部</th>
      <th class="example" style="width:150px">学科</th>
      <th class="example" style="width:150px">コース</th>
      <th> <colspan="3"></th>
    </tr>
  </thead>
  </table>

    <% @schoollogs.first(10).each do |schoollog| %>
      <div class="box2">
      <table>
      <tbody>    

      <tr>
      <td colspan=8 align="right"><%= link_to '>', schoollog, {class: "btn-flat-logo"} %></td>
      </tr>

      <tr align="center">
        <td style="width:90px"><%= schoollog.created_at.strftime("%Y/%-m/%-d") %></td>
        <td style="width:90px"><%= schoollog.reportschool.type.name %></td>
        <td style="width:150px"><%= schoollog.reportschool.field.name %></td>
        <td style="width:150px"><%= schoollog.reportschool.gakkou %></td>
        <td style="width:150px"><%= schoollog.reportschool.gakubu %></td>
        <td style="width:150px"><%= schoollog.reportschool.gakka %></td>
        <td style="width:150px"><%= schoollog.reportschool.course %></td>
        <!--
        <td style="width:30px"><%= link_to '詳細', schoollog %></td>
        <td><%= link_to '編集', edit_reportschool_path(schoollog) %></td>
        <td><%= link_to '削除', schoollog, method: :delete, data: { confirm: '本当に削除しますか？' } %></td> 
        -->
      </tr>
  </tbody>
</table>
</div>      
<% end %>

<br>
<br>
<br>
<br>

</body>
</html>

