<p id="notice"><%= notice %></p>

<h1>進学受験報告書</h1>

<table>
  <thead>
    <tr>
      <th>状況</th>
      <th>生徒</th>
      <th>学校種</th>
      <th>分野</th>
      <th>学校名</th>
      <th>学部</th>
      <th>学科</th>
      <th>コース</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reportschools.each do |reportschool| %>
      <tr>
        <td><%= reportschool.status %></td>
        <td><%= reportschool.user.students[0].name %></td>
        <td><%= reportschool.type.name %></td>
        <td><%= reportschool.field.name %></td>
        <td><%= reportschool.gakkou %></td>
        <td><%= reportschool.gakubu %></td>
        <td><%= reportschool.gakka %></td>
        <td><%= reportschool.course %></td>
        <td><%= link_to '詳細', reportschool %></td>
        <td><%= link_to '編集', edit_reportschool_path(reportschool) %></td>
        <td><%= link_to '削除', reportschool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_reportschool_path %>
