<p id="notice"><%= notice %></p>

<h1>入学試験受験報告書</h1>

<%= form_tag('/reportschools_localname1_search') do %>
  <p>
  地方
  <br>
  <%= select_tag 'search[localname1]' , options_for_select(Place.select(:localname1).distinct.map{|r| [r.localname1,r.localname1]},0), include_blank:true  %>
  <%= submit_tag '検索' %>
  </p>
<% end %> 

<%= form_tag('/reportschools_localname2_search') do %>
  <p>
  地域
  <br>
  <%= select_tag 'search[localname2]' , options_for_select(Place.select(:localname2).distinct.map{|r| [r.localname2,r.localname2]},0), include_blank:true %>
  <%= submit_tag '検索' %>
  </p>
<% end %> 


<%= form_tag('/reportschools_place_search') do %>
  <p>
  都道府県
  <br>
  <%= select_tag 'search[place]' ,options_for_select(Place.all.map {|r| [r.todohuken,r.todohuken] } , {:selected => session[:search_place]}) , include_blank:true%>
  <%= submit_tag '検索' %>
  </p>
<% end %> 

<%= form_tag('/reportschools_type_search') do %>
  <p>
  学校種
  <br>
  <%= select_tag 'search[type]' , options_for_select(Type.all.map {|r| [r.name,r.id] } , {:selected => session[:search_type]}) , include_blank:true %>
  <%= submit_tag '検索' %>
  </p>
<% end %> 

<%= form_tag('/reportschools_field_search') do %>
  <p>
  分野別
  <br>
  <%= select_tag 'search[field]' , options_for_select(Field.all.map {|r| [r.name,r.id] } , {:selected => session[:search_field]}) , include_blank:true%>
  <%= submit_tag '検索' %>
  </p>
<% end %> 

<%= form_tag('/reportschools_search') do %>
  <p>
  検索（部分一致）
  <br>
  <%= text_field_tag 'search[gakkou]' , session[:search_gakkou] %>
  <%= submit_tag '検索' %>
  </p>
<% end %> 

<h1>報告書作成履歴</h1>

<table>
  <thead>
    <tr>
      <th>状況</th>
      <th>学校種</th>
      <th>分野</th>
      <th>学校名</th>
      <th>学部</th>
      <th>学科</th>
      <th>コース</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reportschools.each do |reportschool| %>
      <tr>
        <td><%= reportschool.status %></td>
        <td><%= reportschool.type.name %></td>
        <td><%= reportschool.field.name %></td>
        <td><%= reportschool.gakkou %></td>
        <td><%= reportschool.gakubu %></td>
        <td><%= reportschool.gakka %></td>
        <td><%= reportschool.course %></td>
        <td><%= link_to '詳細', reportschool %></td>
        <td><%= link_to '編集', edit_reportschool_path(reportschool) %></td>
        <td><%= link_to '削除', reportschool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_reportschool_path %>

<br>
<br>
<br>

<h1>閲覧履歴</h1>
<table>
<thead>
<tr>
  <th>状況</th>
  <th>学校種</th>
  <th>分野</th>
  <th>学校名</th>
  <th>学部</th>
  <th>学科</th>
  <th>コース</th>
  <th colspan="3"></th>
</tr>
</thead>
</table>
