<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @reportschool.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @reportschool.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reportschool.type_id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @reportschool.field_id %>
</p>

<p>
  <strong>Gakkou:</strong>
  <%= @reportschool.gakkou %>
</p>

<p>
  <strong>Gakubu:</strong>
  <%= @reportschool.gakubu %>
</p>

<p>
  <strong>Gakka:</strong>
  <%= @reportschool.gakka %>
</p>

<p>
  <strong>Course:</strong>
  <%= @reportschool.course %>
</p>

<p>
  <strong>Syozaichi:</strong>
  <%= @reportschool.syozaichi %>
</p>

<p>
  <strong>Shikennzyou:</strong>
  <%= @reportschool.shikennzyou %>
</p>

<p>
  <strong>Gokaku:</strong>
  <%= @reportschool.gokaku %>
</p>

<p>
  <strong>Shikennbi:</strong>
  <%= @reportschool.shikennbi %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @reportschool.exam_id %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @reportschool.detail %>
</p>

<p>
  <strong>Japanese:</strong>
  <%= @reportschool.japanese %>
</p>

<p>
  <strong>Math:</strong>
  <%= @reportschool.math %>
</p>

<p>
  <strong>Social:</strong>
  <%= @reportschool.social %>
</p>

<p>
  <strong>Science:</strong>
  <%= @reportschool.science %>
</p>

<p>
  <strong>English:</strong>
  <%= @reportschool.english %>
</p>

<p>
  <strong>Recommended:</strong>
  <%= @reportschool.recommended_id %>
</p>

<p>
  <strong>Mennsetsu:</strong>
  <%= @reportschool.mennsetsu %>
</p>

<p>
  <strong>Syoronnbunn:</strong>
  <%= @reportschool.syoronnbunn %>
</p>

<p>
  <strong>Shikenn:</strong>
  <%= @reportschool.shikenn %>
</p>

<p>
  <strong>Kanso:</strong>
  <%= @reportschool.kanso %>
</p>

<%= link_to '編集', edit_reportschool_path(@reportschool) %> |
<%= link_to '戻る', reportschools_path %>
