<!DOCTYPE html>
<html>
  <head>
    <title>Savedent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <header>
      <nav>
        <% if user_signed_in? %>
        <strong><%= current_user.email%></strong>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <% end %>

      </nav>
    </header>

    <h1>Savedent</h1>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   <table border=0>
    <tr>
    <td style="width:500px;">
     <h1><p> <%= link_to 'TOP',home_top_path %></p></h1>
     <h1><p> <%= link_to '履歴書',resumetrancerecs_path %></p></h1>
     <h1><p> <%= link_to '受験報告書',reportmenu_menu_path %></p></h1>
     <h1><p> <%= link_to '面接サポート',mensetu_top_path %></p></h1>
     <h1><p> <%= link_to 'メモ', memos_path %></p></h1>
     <h1><p> <%= link_to '入試形態', exams_path %></p></h1>
     <h1><p> <%= link_to '面接方法',interviews_path %></p></h1>
     <h1><p> <%= link_to '地方', places_path %></p></h1>
     <h1><p> <%= link_to '斡旋方法', mediations_path %></p></h1>
     <h1><p> <%= link_to '学校種', types_path %></p></h1>
     <h1><p> <%= link_to '分野', fields_path %></p></h1>
     <h1><p> <%= link_to '推薦形態', recommendeds_path %></p></h1>
     <h1><p> <%= link_to '先生', teachers_path %></p></h1>
     <h1><p> <%= link_to '生徒', students_path %></p></h1>
    </td>
    <td style="width:100%;">
    <%= yield %>
    </td>
    </tr>
   </table>
    
  
  </body>
</html>
