<!DOCTYPE html>
<html>
  <head>
    <title>Savedent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
  <div class="container-fluid">
  <div class="haikei1">
  <font size="30">Savedent</font>
    <header>
      <nav align = "right">
        <% if user_signed_in? %>
          <% unless current_user.students.nil? %>
             <%= image_tag "initprofile.png",:size => "100x100" %>
          <% else %>
             <% if current_user.students[0].filename.present? %>
               <%= image_tag current_user.students[0].filename,:size => "100x100" %>
             <% else %>
               <%= image_tag "initprofile.png",:size => "100x100" %>
             <% end %>
          <% end %> 
          <strong><%= current_user.email %></strong>
          <%= link_to 'パスワード変更　アカウントの削除', edit_user_registration_path %>
          <%= link_to '　　ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
        <br></br>  
        <%= link_to '　　アカウントの登録', new_user_registration_path %>
          <%= link_to '　　ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%# notice %></p>
    <p class="alert"><%# alert %></p>

<div class="row">
<div class="col-md-2">
<div class="box22">
<div>
  <ul>
        <li><%= link_to 'TOP',home_top_path %></li>
        <li><%= link_to '履歴書作成',rirekisyos_path %></li>
        <li><%= link_to '履歴書転送',resumetrancerecs_path %></li>
        <li><%= link_to '受験報告書',reportmenu_menu_path %></li>
        <li><%= link_to '面接サポート',mensetus_path %></li>
        <li><%= link_to 'メモ', memos_path %></li>
        <li><%= link_to '入試形態', exams_path %></li>
        <li><%= link_to '面接方法',interviews_path %></li>
        <li><%= link_to '地方', places_path %></li>
        <li><%= link_to '斡旋方法', mediations_path %></li>
        <li><%= link_to '学校種', types_path %></li>
        <li><%= link_to '分野', fields_path %></li>
        <li><%= link_to '推薦形態', recommendeds_path %></li>
        <li><%= link_to '先生', teachers_path %></li>
        <li><%= link_to '利用者', students_path %></li>
  </ul>
      </div>
      </div>
      </div>

      <div class="col-md-10">
        <%= yield %> 
      </div>
    </div>
  </div>
    </div>
  </body>
</html>
